<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <p>About us</p>
        <img src= "img/robot.jpg " style="height: 200px;">
        <p>Created by {{name}}</p>
    </body>
    {{>footer}}
</html>