<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        {{>header}}
        <h1>about hbs page</h1>
        <img src= "img/robot.jpg " style="height: 200px;">
        <h5>created by {{name}}</h5>
    </body>
    {{>footer}}
</html>