<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
         {{>header}}
        <p>Here to help you!</p>
    </body>
    {{>footer}}
</html>